html {
    height: 100vh;
    width: 100vw;
}

body {
    background: url(/static/images/background.jpg);
    overflow-x: hidden;
}

.logo {
    margin-left: 1vh;
    width: 20vw;
}

.search-bar {
    margin-top: -2vh;
    height: 10vh;
    z-index: -1;
}

.navbar {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom:0;
}

.navbar1 {
    font-size: 20px;
    background-color: #000;
    height: 6vh;
}

.navbar2 {
    background-color: #fff;
    height: 15vh;
}

.navbar-brand {
    position: absolute;
}

.home-icon {
    margin-top: 0.7vh;
}

.top-right {
    float: right;
}

.top-bar {
    display: flex;
    flex-direction: vertical;
    justify-content: center;
    margin-left: 20vw;
    width: 80vw;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-around;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: black;
    color: #000000;
    font-size: 30px;
    margin-top: 4.5vh;
}

.heading {
    font-family: 'PT Serif', serif;
    margin-top: 5vh;
    text-align: center;
}

.main-img {
    margin-top: 1vw;
    text-align: center;
}

.background {
    z-index: -1;
    opacity: 0.7;
}
